/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 16px Helvetica, Arial, sans-serif;
}


a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  max-width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/* bquote*/
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
blockquote {
  font-family: Georgia, "Bitstream Charter", serif;
  font-style: italic;
  font-weight: normal;
  margin: 1.5em;
  padding: 0 1.5em;
  position: relative;
}

blockquote:before {
  color: #ddd;
      content: "\201C";
      font: italic 100px Tahoma,Arial;
      left: -40px; top: -30px;
      position: absolute;
      z-index: -1;
}

blockquote em, blockquote i, blockquote cite {
  font-style: normal;
}
blockquote cite {
  color: #666;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/**/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

mark{
  border-bottom: 2px solid #333;
  background: #555;
}

.info-block{
  padding: 20px !important;
  background: #fff6cd;
  border: 1px solid rgba(0,0,0,.1);
}

::selection{
  color: #fff;
  background-color: #dd3333;
  text-shadow: none;
}

::-moz-selection{
  color: #fff;
  background-color: #dd3333;
  text-shadow: none;
}

.post img {
border: 1px solid #DDD;
padding: 6px;
}

h1, h2, h3, h4, h5 {
font-family: 'Open Sans',sans-serif;
font-weight: 400;
}