
/* bquote*/
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
blockquote {
  font-family: Georgia, "Bitstream Charter", serif;
  font-style: italic;
  font-weight: normal;
  margin: 1.5em;
  padding: 0 1.5em;
  position: relative;
}

blockquote:before {
  color: #ddd;
      content: "\201C";
      font: italic 100px Tahoma,Arial;
      left: -40px; top: -30px;
      position: absolute;
      z-index: -1;
}

blockquote em, blockquote i, blockquote cite {
  font-style: normal;
}
blockquote cite {
  color: #666;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/**/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

mark{
  border-bottom: 2px solid #333;
  background: #555;
}

::selection{
  color: #fff;
  background-color: #dd3333;
  text-shadow: none;
}

::-moz-selection{
  color: #fff;
  background-color: #dd3333;
  text-shadow: none;
}

h1, h2, h3, h4, h5 {
font-family: 'Open Sans',sans-serif;
font-weight: 400;
}