/*------------------------------------*\
    Variables
\*------------------------------------*/
/**
 * RTD stuff
 */
/**
 * Other stuff
 */
/*------------------------------------*\
    Mixins
\*------------------------------------*/
/**
 * REM https://gist.github.com/webgefrickel/4530526
 * @include rem(margin, 0 12px 2 1.2)
 */
/**
 * Breakpoints for media queries
 */
/*------------------------------------*\
    Grid
\*------------------------------------*/
/**
 * Minimal grid setup.
 * The below array will build stuff like <div class="grid__col--25">
 */
/**
 * 1. 'Kung fu' method to fight with inline-block whitespace.
 * 2. Children font size reverted to base.
 * 3. Default vertical alignment for grid children.
 * 4. Use 'first-child' in order to support IE8 as well. 
 */
[class*="grid__col--"] {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .grid {
    font-size: 0;
    /* 1 */
  }

  .grid--pad {
    padding: 20px;
    padding: 1.25rem;
  }

  .grid--vmiddle {
    vertical-align: middle;
  }

  [class*="grid__col--"] {
    display: inline-block;
    margin: 0;
    padding-left: 20px;
    padding-left: 1.25rem;
    font-size: 16px;
    font-size: 1rem;
    /* 2 */
    vertical-align: top;
    /* 3 */
  }
  [class*="grid__col--"]:first-child {
    padding-left: 0;
    /* 4 */
  }

  .grid__col--10 {
    width: 10%;
  }

  .grid__col--20 {
    width: 20%;
  }

  .grid__col--25 {
    width: 25%;
  }

  .grid__col--30 {
    width: 30%;
  }

  .grid__col--33 {
    width: 33%;
  }

  .grid__col--40 {
    width: 40%;
  }

  .grid__col--45 {
    width: 45%;
  }

  .grid__col--50 {
    width: 50%;
  }

  .grid__col--60 {
    width: 60%;
  }

  .grid__col--67 {
    width: 67%;
  }

  .grid__col--70 {
    width: 70%;
  }

  .grid__col--75 {
    width: 75%;
  }

  .grid__col--80 {
    width: 80%;
  }

  .grid__col--90 {
    width: 90%;
  }

  .grid__col--100 {
    width: 100%;
  }

  .grid__col--push10 {
    margin-right: 10%;
  }

  .grid__col--push20 {
    margin-right: 20%;
  }

  .grid__col--push25 {
    margin-right: 25%;
  }

  .grid__col--push30 {
    margin-right: 30%;
  }

  .grid__col--push33 {
    margin-right: 33%;
  }

  .grid__col--push40 {
    margin-right: 40%;
  }

  .grid__col--push45 {
    margin-right: 45%;
  }

  .grid__col--push50 {
    margin-right: 50%;
  }

  .grid__col--push60 {
    margin-right: 60%;
  }

  .grid__col--push67 {
    margin-right: 67%;
  }

  .grid__col--push70 {
    margin-right: 70%;
  }

  .grid__col--push75 {
    margin-right: 75%;
  }

  .grid__col--push80 {
    margin-right: 80%;
  }

  .grid__col--push90 {
    margin-right: 90%;
  }

  .grid__col--push100 {
    margin-right: 100%;
  }
}
/*------------------------------------*\
		Typography
\*------------------------------------*/
/**
 * Alter the default CSS box model 
 */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Custom content selection
 */
::-moz-selection {
  color: #fff;
  background-color: #dd3333;
}

::selection {
  color: #fff;
  background-color: #dd3333;
}

/**
 * All the img's are responsive
 */
img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

/**
 * Body defaults
 */
body {
  margin: 0;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px);
  background-size: 100% 24px;
}

/**
 * The main container wrapper
 */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}

/**
 * Links
 */
a {
  color: #dd3333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #333333;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: #dd3333;
  text-decoration: none;
}

/**
 * Blockquote
 */
blockquote {
  font-family: Georgia, serif;
  font-style: italic;
  position: relative;
  padding: 0 20px;
  padding: 0 1.25rem;
}
blockquote:before {
  color: #ddd;
  content: "\201C";
  font: italic 100px Tahoma,Arial;
  left: -40px;
  top: -30px;
  position: absolute;
  z-index: -1;
}

/**
 * Code blocks
 */
code {
  background: #ddd;
  padding: 1px 3px;
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
}

/*------------------------------------*\
    Buttons
\*------------------------------------*/
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  background-color: #dd3333;
  font-weight: 300;
  border-radius: 3px;
}
.btn:hover {
  color: #fff;
}

.btn--full {
  width: 100%;
}

.btn--large {
  padding: 20px;
}

.btn--secondary {
  background-color: #3f990f;
}

.btn--tertiary {
  background-color: #9f102e;
}

/*------------------------------------*\
    Pygments - the Python syntax highlighter
\*------------------------------------*/
.highlight pre {
  padding: 20px;
  padding: 1.25rem;
  overflow: auto;
}

.highlight code {
  white-space: inherit;
  padding: 0;
}

.highlight pre, .highlight pre code {
  font-size: 14px;
  font-size: 0.9rem;
  background: #111;
  color: #93A1A1;
}

.highlight .hll {
  background-color: #49483e;
}

.highlight {
  color: #f8f8f2;
}

.highlight .c {
  color: #75715e;
}

/* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

/* Error */
.highlight .k {
  color: #66d9ef;
}

/* Keyword */
.highlight .l {
  color: #ae81ff;
}

/* Literal */
.highlight .n {
  color: #f8f8f2;
}

/* Name */
.highlight .o {
  color: #f92672;
}

/* Operator */
.highlight .p {
  color: #f8f8f2;
}

/* Punctuation */
.highlight .cm {
  color: #75715e;
}

/* Comment.Multiline */
.highlight .cp {
  color: #75715e;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #75715e;
}

/* Comment.Single */
.highlight .cs {
  color: #75715e;
}

/* Comment.Special */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef;
}

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef;
}

/* Keyword.Type */
.highlight .ld {
  color: #e6db74;
}

/* Literal.Date */
.highlight .m {
  color: #ae81ff;
}

/* Literal.Number */
.highlight .s {
  color: #e6db74;
}

/* Literal.String */
.highlight .na {
  color: #a6e22e;
}

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2;
}

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e;
}

/* Name.Class */
.highlight .no {
  color: #66d9ef;
}

/* Name.Constant */
.highlight .nd {
  color: #a6e22e;
}

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2;
}

/* Name.Entity */
.highlight .ne {
  color: #a6e22e;
}

/* Name.Exception */
.highlight .nf {
  color: #a6e22e;
}

/* Name.Function */
.highlight .nl {
  color: #f8f8f2;
}

/* Name.Label */
.highlight .nn {
  color: #f8f8f2;
}

/* Name.Namespace */
.highlight .nx {
  color: #a6e22e;
}

/* Name.Other */
.highlight .py {
  color: #f8f8f2;
}

/* Name.Property */
.highlight .nt {
  color: #f92672;
}

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2;
}

/* Name.Variable */
.highlight .ow {
  color: #f92672;
}

/* Operator.Word */
.highlight .w {
  color: #f8f8f2;
}

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff;
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74;
}

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74;
}

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74;
}

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74;
}

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2;
}

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff;
}

/* Literal.Number.Integer.Long */
/*------------------------------------*\
    Typography
\*------------------------------------*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 24px 0;
  margin: 0 0 1.5rem 0;
}

h1, .h1 {
  font-size: 36px;
  font-size: 2.25rem;
  /* 36/16 */
  line-height: 1.33333;
  /* 48/36 */
}

h2, .h2 {
  font-size: 24px;
  font-size: 1.5rem;
  /* 24/16 */
  line-height: 1;
  /* 24/24 */
}

h3, .h3 {
  font-size: 21px;
  font-size: 1.3125rem;
  /* 21/16 */
  line-height: 1.15;
  /* 24/21 */
}

h4, .h4 {
  font-size: 18px;
  font-size: 1.125rem;
  /* 18/16 */
  line-height: 1.33333;
  /* 24/18 */
}

p, ul, ol, blockquote, pre {
  margin: 0 0 24px 0;
  margin: 0 0 1.5rem 0;
}
