/*------------------------------------*\
    Typography
\*------------------------------------*/

body {
	background-color: #fff;
	color: $primary-color;
	font: 16px $rtd-font;
}

a { 
	color: $rtd-color; 
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	} 
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

::-moz-selection {
  color: #fff;
  background-color: #dd3333;
}

::selection {
  color: #fff;
  background-color: #dd3333;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
blockquote {
  font-family: Georgia, "Bitstream Charter", serif;
  font-style: italic;
  font-weight: normal;
  margin: 1.5em;
  padding: 0 1.5em;
  position: relative;
}

blockquote:before {
  color: #ddd;
      content: "\201C";
      font: italic 100px Tahoma,Arial;
      left: -40px; top: -30px;
      position: absolute;
      z-index: -1;
}

blockquote em, blockquote i, blockquote cite {
  font-style: normal;
}
blockquote cite {
  color: #666;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}