/*------------------------------------*\
		Typography
\*------------------------------------*/


/**
 * Alter the default CSS box model 
 */

*, *:after, *:before {
		-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
						box-sizing: border-box; 
}

/**
 * Custom content selection
 */

::-moz-selection {
	color: #fff;
	background-color: $rtd-color;
}

::selection {
	color: #fff;
	background-color: $rtd-color;
}

/**
 * All the img's are responsive
 */

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

/**
 * Body defaults
 */

body {
	margin: 0;	
	color: $primary-color;
	font-size: $font-size;
	line-height: $line-height; 
	font-family: $rtd-font;
	background-image: linear-gradient(rgba(0,0,0,.02) 1px, transparent 1px);
	background-size: 100% $line-height;	
}

/**
 * The main container wrapper
 */

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	@include rem(padding-left, $gutter);
	@include rem(padding-right, $gutter);	
}

/**
 * Links
 */

a { 
	color: $rtd-color; 
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	} 
}

/**
 * Blockquote
 */

blockquote {
	font-family: Georgia, serif;
	font-style: italic;
	position: relative;
	@include rem(padding, 0 $gutter);

	&:before {
		color: #ddd;
		content: "\201C";
		font: italic 100px Tahoma,Arial;
		left: -40px; top: -30px;
		position: absolute;
		z-index: -1;		
	}	
}

/**
 * Code blocks
 */

code {
	background: #ddd;
	padding: 1px 3px;
	font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
}