/*------------------------------------*\
    Buttons
\*------------------------------------*/

// http://localhost:4000/css3-patterned-buttons/

.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    text-align: center;
    background-color: $rtd-color;
    font-weight: 300;
    border-radius: 3px;
    
    &:hover {
        color: #fff;
    }

}

.btn--full {
    width: 100%;
}

.btn--large {
    padding: 20px;
}

.btn--secondary {
    background-color: #3f990f;
}

.btn--tertiary {
    background-color: #9f102e;
}