/*------------------------------------*\
  Content
\*------------------------------------*/

.master-content {
  @include rem(padding, $gutter-2x 0); 
}

/**
 * Slideout footer effect only for large displays
 */

@include breakpoint(large) {
  .master-content {
    margin-bottom: 225px;
    // 225px is the aprox height value of the .master-footer
    background-color: #fff;
    // specify a bgcolor to cover the footer & simulate the slideout footer effect
    position: relative;
    z-index: 1;
    // .master-content's z-index = 1 > .master-footer's z-index = -1

    &::after{
      content: '';
      position: absolute;
      left: 0; right: 0; bottom: -3px;
      height: 3px;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI4cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgOCAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNCwzIDAsMCA4LDAgIi8+PC9zdmc+) 
                  repeat-x center;
      // the repeating SVG triangle pattern will blend with .master-footer's similar one
    }
  }
}