/*------------------------------------*\
    Variables
\*------------------------------------*/

/**
 * RTD stuff
 */

$rtd-color:     #d33;
$rtd-font:		'Open Sans', Helvetica, Arial, sans-serif;

/**
 * Other stuff
 */

$gutter: 		1.25; // 1.25 * 16 = 20
$primary-color:	#333;
$font-size: 	16px;