/*------------------------------------*\
    Variables
\*------------------------------------*/

/**
 * RTD stuff
*/

$rtd-color:     #d33;
$rtd-font:		'Open Sans', Helvetica, Arial, sans-serif;

/**
 * Other stuff
*/

$primary-color:	#333;