/*------------------------------------*\
  Content
\*------------------------------------*/

.master-content {
  @include rem(padding, $gutter-2x 0); 
}

/**
 * Articles list
 */

.post {
  position: relative;
  @include rem(margin-bottom, $gutter-3x);
  @include rem(padding-bottom, $gutter-2x);
  
  // index separator dots
  &:not(:last-of-type):after {
    content: '...';
    position: absolute;
    bottom: 0; left: 0; right: 0;
    text-align: center;
    color: $color-blue;
    @include rem(letter-spacing, .5); 
    @include rem(font-size, 2.5);
    pointer-events: none;
  }
}

// because the previous post previews are narrower
@include breakpoint(xsmall) {
  img {
    .post &, .single-post & {
      //width: 100%;
      border: 8px solid #fff;
      outline: 1px solid $color-light;
    }
  }
} 

.post__time {
  color: #aaa;
}

/**
 * Articles list
 */

.pagination {
  @extend %unstyled-list;
  @include rem(margin-bottom, $gutter-3x);

  > li {
    display: inline-block;
  }
}

.pagination__status {
  @include rem(margin, 0 $gutter/2);
}

@include breakpoint(small) {
  .pagination__status {
    @include rem(margin, 0 $gutter-2x);
  }
}

/**
 * Archive list
 */

.archive-list {
  padding: 0;
}

.archive-list--heading {
  list-style: none;

  &:not(:first-child) > h2 {
    @include rem(margin-top, 1.5);
  }
}

.archive-list--item {
  @include rem(margin-left, 1);
}  

/**
 * Slideout footer effect only for large displays
 */

@include breakpoint(large) {
  .master-content {
    margin-bottom: 250px;
    // 250px is the aprox height value of the .master-footer
    background-color: #fff;
    // specify a bgcolor to cover the footer & simulate the slideout footer effect
    position: relative;
    z-index: 1;
    // .master-content's z-index = 1 > .master-footer's z-index = 0

    &::after{
      content: '';
      position: absolute;
      left: 0; right: 0; bottom: -3px;
      height: 3px;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI4cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgOCAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNCwzIDAsMCA4LDAgIi8+PC9zdmc+) 
                  repeat-x center;
      // the repeating SVG triangle pattern will blend with .master-footer's similar one
    }
  }
}

/**
 * CodePen
 */

.cp_embed_wrapper {
  @include rem(margin-bottom, 1.5);
}