/*------------------------------------*\
  Sidebar
\*------------------------------------*/

/**
 * The abstract-shaped modules
 */

.aside-module {
  @include rem(margin, 0 0 $gutter);
  @include rem(padding, $gutter);
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: -1;
    background: $color-light;
    transform: skewx( -3deg );  
  } 

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed rgba(0,0,0,.1);
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
}

/**
 * Get updates via RSS or email
 */

.email-form { 
  position: relative;

  &__text {
    padding: 5px;
    height: 40px;
    border: 0;
    width: 100%;
  }
  
  &__text:not(:placeholder-shown) + &__submit {
    background: $color-red;
  }

  &__submit {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 50px;
    height: 32px;
    padding: 0;
    margin: 0;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    background: #aaa;
    border: 0;
  }  

  &__message {
    font-size: .9rem;
    padding: .3rem;
    margin-top: .3rem;

    &--success {
      color: #137a46;
      background-color: #aaedb0;
    }
    
    &--error {
      color: #D11717;
      background-color: #ffd3d3;
    }        
  }
}

/**
 * BSA
 */
 
#carbonads {
  overflow: hidden;
  line-height: 1.5;
  font-size: .8em;
  
  span {
    display: block;
    overflow: hidden;
  }  
}

.carbon-text {
  max-width: 50%;
  text-align: left;
  color: $color-black;
	
  &:hover {
    text-decoration: none;
  }
}

.carbon-img {
  float: left;
  margin-right: 15px;
  
  img {
    width: 130px;
	height: 100px;
  }
}

.carbon-poweredby {
  display: block;
  text-align: right;
}

/**
 * Aside list
 */
 
.aside-module--list {
  @extend %unstyled-list;

  li {
    margin: 2px 0;

    a {
      display: inline-block;
      width: 100%;
      padding: 3px;
      color: $color-black;
      background: rgba(0, 0, 0, 0.015);
      transition: all .1s ease-out;

      &:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.05);
        transform: scale(1.05);
      }
    }
  }
}