/*------------------------------------*\
  Typography
\*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

h1, h2, h3, h4, h5 {
  font-family: $rtd-font;
  font-weight: 400;
  @include rem(margin, 0 0 1.5 0);
}

h1, .h1 {
  @include rem(font-size, 2.25); /* 36/16 */
  line-height: 1.33333; /* 48/36 */
}

h2, .h2 {
  @include rem(font-size, 1.5); /* 24/16 */
    line-height: 1; /* 24/24 */
}

h3, .h3 {
  @include rem(font-size, 1.3125); /* 21/16 */
    line-height: 1.15; /* 24/21 */
}

h4, .h4 {
  @include rem(font-size, 1.125); /* 18/16 */
    line-height: 1.33333; /* 24/18 */
}

p, ul, ol, blockquote, pre {
  @include rem(margin, 0 0 1.5 0);
}