/*------------------------------------*\
  Variables
\*------------------------------------*/

/**
 * RTD stuff
 */

$rtd-font:      'Open Sans', Helvetica, Arial, sans-serif;

/**
 * Other stuff
 */

$gutter:        1.25; // 1.25 * 16 = 20
$gutter-2x:     2*$gutter;
$gutter-3x:     3*$gutter;
$gutter-4x:     4*$gutter;
$font-size:     16px;
$line-height:   24px;

/**
 * Color scheme
 */

$color-black:       #333;
$color-navy:        #353a4a;
$color-blue:        #b8c3e9;
$color-light:       #eef0f3;
$color-red:         #eb5055;