---
layout: default
title: Front-end development stuff and more
description: Articles on front-end development, CSS, HTML, JavaScript and more.
---

{% for post in paginator.posts %}
<article class="post">
  <header>
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="post__time">
      <small>{{ post.date | date_to_string }}</small>
    </time>
    <h1>
	  {% if post.external %}
	    <a href="{{ post.external }}">{{ post.title }}</a>
	  {% else %}
	    <a href="{{ post.url }}">{{ post.title }}</a>
	  {% endif %}
    </h1>
  </header>
  {{ post.excerpt }}
</article>
{% endfor %}

<ul class="pagination text-center">
  <li class="pagination__prev">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="btn">Previous</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="btn">Previous</a>
    {% endif %}
    {% else %}
      <span class="btn btn--disabled">Previous</span>
    {% endif %}
  </li>
  <li class="pagination__status">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </li>
  <li class="pagination__next">
    {% if paginator.next_page %}
      <a href="/page{{paginator.next_page}}" class="btn">Next</a>
    {% else %}
      <span class="btn btn--disabled">Next</span>
    {% endif %}
  </li>
</ul>