---
layout: default
title: Front-end development stuff and more
description: Articles on front-end development, CSS, HTML, JavaScript and more.
---

{% for post in paginator.posts %}
<article class="post">
  <header>
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}" class="post__time post__time--vertical">
      <small>{{ post.date | date_to_string }}</small>
    </time>
    <h1>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
  </header>
  {{ post.excerpt }}
</article>
{% endfor %}

<hr class="bold">

{% if paginator.total_pages > 1 %}
<nav class="pagination text-center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&lsaquo; Prev</a>
  {% else %}
    <span>&lsaquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="active">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &rsaquo;</a>
  {% else %}
    <span>Next &rsaquo;</span>
  {% endif %}
</nav>
{% endif %}