/*------------------------------------*\
  Typography
\*------------------------------------*/


/**
 * Alter the default CSS box model
 */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Custom content selection
 */

::-moz-selection {
  color: #fff;
  background-color: $color-secondary;
}

::selection {
  color: #fff;
  background-color: $color-secondary;
}

/**
 * All the img's are responsive
 */

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

/**
 * Horizontal lines
 */

hr {
  margin: $gutter 0;
  border: 0;
  border-top: 1px solid $color-light;

  &.bold {
    border-top-width: 8px;
    border-style: dashed;
  }
}

/**
 * Body & html defaults
 */

 html {
  font-size: $font-size;
 }

body {
  margin: 0;
  color: $color-black;
  line-height: $line-height;
  font-family: $rtd-font;
  // A bit of kung fu to overcome .master-header full width style
  // from  _header.scss
  overflow-x: hidden;
}

/**
 * The main container wrapper
 */

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

/**
 * Links
 */

a {
  color: $color-primary;
  text-decoration: none;

  img {
    border: 0;
  }
}

.site-main,
.site-widget {
  a {
    padding-bottom: 2px;
    border-bottom: 2px solid  currentColor;

    &:hover {
      background-color:  $color-primary;
      color: #fff;
    }
  }
}

h1 a {
  color: $color-black;
  border: 0 !important;

  &:hover{
    color: $color-primary;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  &:hover{
    text-decoration: none;
  }
}

/**
 * Blockquote
 */

blockquote {
  position: relative;
  padding: $gutter/2 $gutter $gutter/2 $gutter-3x;
  border-left: 2px solid #ccc;
  background: #f3f3f3;

  &:before {
    color: #ddd;
    content: "\201C";
    font: italic 100px Tahoma,Arial;
    left: -$gutter/2;
    top: -$gutter/2;
    position: absolute;
  }

  p {
    &:only-child,
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * Code blocks
 */

code {
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
  background-color: #ffcfcf;
  background: linear-gradient(#ffcfcf, #f4e8d3);
  overflow-wrap: break-word;
  color: $color-black;
  padding: 1px;
  border-radius: 3px;
}

/**
 * SVG icons
 */

.svg-icon {
  fill: currentColor;
}

/**
 * Mark
 */
mark {
  background-color: #fbf7d7;
}

/**
 * Table
 */
table {
  width: 100%;
  margin: 0 0 1.5rem 0;
  border-spacing: 0;

  th, td {
    padding: .5rem;
  }

  th {
    text-align: left;
  }

  tbody tr:nth-child(even) {
    background: #f5f5f5;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  }
}