/*------------------------------------*\
  Typography
\*------------------------------------*/


/**
 * Alter the default CSS box model
 */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/**
 * Custom content selection
 */

::-moz-selection {
  color: #fff;
  background-color: $color-red;
}

::selection {
  color: #fff;
  background-color: $color-red;
}

/**
 * All the img's are responsive
 */

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

/**
 * Horizontal lines
 */

hr {
  margin: $gutter 0;
  border: 0;
  border-top: 1px solid $color-light;

  &.bold {
    border-top-width: 8px;
    border-style: dashed;
  }
}

/**
 * Body & html defaults
 */

 html {
  font-size: $font-size;
 }

body {
  margin: 0;
  color: $color-black;
  line-height: $line-height;
  font-family: $rtd-font;
  //background-image: linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px);
  //background-size: 100% $line-height;
}

/**
 * The main container wrapper
 */

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

/**
 * Links
 */

 a {
  color: $color-red;
  text-decoration: none;

  img {
    border: 0;
  }
 }

.site-main a {
  padding-bottom: 2px;
  border-bottom: 1px solid  currentColor;

  &:hover {
    background-color:  $color-red;
    color: #fff;
  }
}

h1 a {
  color: $color-black;
  border: 0 !important;

  &:hover{
    color: $color-red;
  }
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  &:hover{
    text-decoration: none;
  }
}

/**
 * Blockquote
 */

blockquote {
  position: relative;
  padding: $gutter/2 $gutter $gutter/2 $gutter-3x;
  border-left: 2px solid #ccc;
  background: #f3f3f3;

  &:before {
    color: #ddd;
    content: "\201C";
    font: italic 100px Tahoma,Arial;
    left: -$gutter/2;
    top: -$gutter/2;
    position: absolute;
  }

  p {
    &:only-child,
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * Code blocks
 */

code {
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
}

/**
 * SVG icons
 */

.svg-icon {
  fill: currentColor;
}