/*------------------------------------*\
  Buttons
\*------------------------------------*/

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 8px;
  text-align: center;
  color: $color-black;
  border: 2px solid $color-primary;
  border-radius: 3px;
  transition: .2s ease-out color, .2s ease-out background-color;

  &:hover {
    color: #fff;
    background-color: $color-primary;
    text-decoration: none;
  }
}

.btn--full {
  width: 100%;
}

.btn--large {
  padding: 10px 20px;
}

.btn--secondary {
  border-color: $color-dark;
  &:hover {
    background: $color-dark;
  }
}

.btn--disabled {
  pointer-events: none;
  border-color: $color-light;
  color: darken($color-light, 25%);
  &:hover {
    color: darken($color-light, 25%);
    background: none;
  }
}