/*------------------------------------*\
  Content
\*------------------------------------*/

.master-content {
  padding: $gutter-2x $gutter 0 $gutter;
}

@include breakpoint(small) {
  .master-content {
    padding-left: 0;
    padding-right: 0;
  }
}

/**
 * Articles list
 */

.post {
  position: relative;
  margin-bottom: $gutter-3x;
  padding-bottom: $gutter-2x;

  // index separator dots
  &:not(:last-of-type):after {
    content: '...';
    position: absolute;
    bottom: 0; left: 0; right: 0;
    text-align: center;
    color: $color-black;
    letter-spacing: .5rem;
    font-size: 2.5rem;
    pointer-events: none;
  }
}

// because the previous post previews are narrower
@include breakpoint(xsmall) {
  img {
    .post &, .single-post & {
      //width: 100%;
      border: 8px solid #fff;
      outline: 2px solid darken($color-light, 5%);
    }
  }
}

@include breakpoint(large) {
  @supports (writing-mode: vertical-lr) {
    .post__time--vertical  {
      writing-mode: vertical-lr;
      float: left;
      margin-left: -2rem;
      white-space: nowrap;

      &::before {
        content: '';
        display: inline-block;
        width: 1ch;
        height: 2.5rem;
        margin: 10px 0;
        background: linear-gradient(currentColor, currentColor)
                    no-repeat center / 1px 100%;
      }
    }
  }
}


/**
 * Archive list
 */

.archive-list {
  padding: 0;
}

.archive-list--heading {
  list-style: none;

  &:not(:first-child) > h2 {
    margin-top: 1.5rem;
  }
}

.archive-list--item {
  margin-left: 1rem;
}

/**
 * Pagination
 */

.pagination {
  @extend %unstyled-list;
  margin: $gutter-2x 0;

  a, span {
    display: inline-block;
    margin: .2rem;
    padding: .1rem .4rem;
  }

  a:hover {
    border-bottom-color: #00adb5;
  }

  .active {
    border: 2px solid currentColor;
  }
}

/**
 * CodePen
 */

.cp_embed_wrapper {
  margin-bottom: 1.5rem;
}

/**
 * Grid
 */
 .site-header {
  grid-area: header;
}

.site-main {
  grid-area: main;
  max-width: 100vw;
}

.site-sidebar {
  grid-area: sidebar;
}

.site-widget {
  grid-area: widget;
}

.site-footer {
  grid-area: footer;
}

@supports (grid-area: auto) {
  .site {
    display: grid;
    grid-gap: 0 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:  "header"
                          "sidebar"
                          "main"
                          "footer";

    &--post {
      grid-template-areas:  "header"
                            "sidebar"
                            "main"
                            "widget"
                            "footer";
    }
  }

  @include breakpoint(small) {
    .site {
      display: grid;
      grid-gap: 0 1.5rem;
      grid-template-rows: auto
                          1fr
                          auto
                          auto;
      grid-template-columns:  auto
                              minmax(0, 770px)
                              330px
                              auto;
      grid-template-areas:  ". header header ."
                            ". main sidebar ."
                            "footer footer footer footer";

      &--post {
        grid-template-areas:  ". header header ."
                              ". main sidebar ."
                              ". widget sidebar ."
                              "footer footer footer footer";
      }
    }
  }
}

.site-widget {
  margin-bottom: $gutter-2x;

  h3, p {
    margin-bottom: 0;
  }
}