/*------------------------------------*\
  Sidebar
\*------------------------------------*/

/**
 * The abstract-shaped modules
 */

.aside-module {
  background: $color-light;
  margin: 0 0 $gutter;
  padding: $gutter;
  position: relative;
  z-index: 1;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed rgba(0,0,0,.2);
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
}

/**
 * BSA
 */

#carbonads {
  overflow: hidden;
  line-height: 1.4;
  font-size: .8em;

  span {
    overflow: hidden;
  }
}

.carbon-text {
  max-width: 50%;
  text-align: left;
  color: $color-black;

  &:hover {
    text-decoration: none;
  }
}

.carbon-img {
  float: left;
  margin-right: 15px;

  img {
    width: 130px;
	height: 100px;
  }
}

.carbon-poweredby {
  display: block;
  color: #777;
}

/**
 * Aside list
 */

.aside-module--list {
  @extend %unstyled-list;

  li {
    margin: 2px 0;

    a {
      display: inline-block;
      width: 100%;
      padding: 3px;
      color: $color-black;
      background: rgba(0, 0, 0, 0.015);
      transition: all .1s ease-out;

      &:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.05);
        transform: scale(1.05);
      }
    }
  }
}