/*------------------------------------*\
  Typography
\*------------------------------------*/

h1, h2, h3, h4, h5 {
  font-family: $rtd-font;
  font-weight: 400;
  margin: 0 0 1.5rem 0;
}

h1, .h1 {
  font-size: 2.25rem; /* 36/16 */
  line-height: 1.33333; /* 48/36 */
}

h2, .h2 {
  font-size: 1.5rem; /* 24/16 */
  line-height: 1; /* 24/24 */
}

h3, .h3 {
  font-size: 1.3125rem; /* 21/16 */
  line-height: 1.15; /* 24/21 */
}

h4, .h4 {
  font-size: 1.125rem; /* 18/16 */
  line-height: 1.33333; /* 24/18 */
}

p, ul, ol, blockquote, pre {
  margin: 0 0 1.5rem 0;
}

ul ul {
  margin: 0;
}