/*------------------------------------*\
  Variables
\*------------------------------------*/

/**
 * RTD stuff
 */

// Native font stack
// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
// https://v4-alpha.getbootstrap.com/content/reboot/#native-font-stack
$rtd-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

/**
 * Other stuff
 */

$gutter:        1.25rem; // 1.25 * 16 = 20
$gutter-2x:     2*$gutter;
$gutter-3x:     3*$gutter;
$gutter-4x:     4*$gutter;
$gutter-6x:     6*$gutter;
$font-size:     18px;
$line-height:   27px;

/**
 * Color scheme
 */

$color-black:       #333;
$color-dark:        #222831;
$color-light:       #eee;
$color-primary:     #00adb5;
$color-secondary:   #fd3f4f;