<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name='google-site-verification' content='C5zdBQFWWh6uslnkcC0u_F5av9GyYt90auGayV4ELbM'>

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400">

        <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/redteamdesign">
        <link rel="author" href="https://plus.google.com/114910105297465575018/posts"/>
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <!-- 
           _        _ 
     _ __ | |_   __| |
    | '__|| __| / _` |
    | |   | |_ | (_| |
    |_|    \__| \__,_|
                      
     -->
    <body>

      <header role="banner">
        <h1><a href="/">{{ site.name }}</a></h1>
        <nav role="navigation">
          <li><a href="/">home</a></li>
          <li><a href="/about/">archives</a></li>
          <li><a href="/about/">about</a></li>
          <li><a href="/contact/">contact</a> </li>            
        </nav>
      </header>

      <div role="main">
        {{ content }}
      </div>

      <div role="complementary">
        sidebar
      </div>

      <footer role="contentinfo">
        footer
      </footer>

    </body>
</html>
